# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.egg-info/
dist/
build/

# Storage & Delta Lake Local
storage/
.spark_warehouse/
metastore_db/
derby.log
*.parquet
*.delta

# Pytest & Cache
.pytest_cache/
.coverage
htmlcov/

# IDE & OS
.DS_Store
.idea/
.vscode/
*.log
